@import "./base/var";
@import "./base/base";
@import "./base/visually-hidden";
@import "./base/mixin";
@import "./layouts/modal";
@import "./layouts/header";
@import "./layouts/footer-address";
@import "./layouts/footer-social";
@import "./layouts/hero";
@import "./layouts/skills";
@import "./layouts/about";
@import "./layouts/workers";
@import "./layouts/clients";
@import "./layouts/portfolio-buttons";
@import "./layouts/portfolio-choice";
