body {
  font-family: "Roboto", sans-serif;
  background-color: $main-color;
  color: $title-color;
  font-size: $main-font-size;
  letter-spacing: $main-letter-spacing;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

%transition {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%icon {
  fill: currentColor;
}

%button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}
