$main-color: #ffffff;
$title-color: #212121;
$text-color: #757575;
$background-color: #2f303a;
$btn-color: #212121;
$accent-color: #2196f3;
$one-color: #eeeeee;
$second-color: #000000;
$third-color: #f5f4fa;
$fourth-color: rgba(255, 255, 255, 0.6);
$fifth-color: #ececec;
$bg-hero: #c4c4c4;
$icons-color: #afb1b8;
$icon-footer-background: rgba(255, 255, 255, 0.1);
$box-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: "Roboto", sans-serif;
$second-font-family: "Raleway", sans-serif;
$main-font-size: 14px;
$main-letter-spacing: 0.03em;
$main-button-radius: 4px;
$hero-background-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
