.about {
  display: none;
  @include desktop {
    display: flex;
    padding-top: 0;
  }
}
.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-color;
}
.about-list {
  display: flex;
  gap: 30px;
  @extend %list;

  &__box {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-color;
  }
}
