.clients__title {
  text-align: center;
  margin-bottom: 30px;
  color: $title-color;

  @include desktop {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  @include centeredFlex(flex, center, center);
  flex-wrap: wrap;
  gap: 30px;
  @extend %list;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  @include centeredFlex(flex, center, center);
  width: 210px;
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 170px;
  }
  height: 92px;
  border: 1px solid $icons-color;
  color: $icons-color;
  border-radius: 4px;
  @extend %transition;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}
.clients-list__icon {
  @extend %icon;
}
