.social {
  margin-left: 70px;
}

.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: $main-color;
  transition-property: $background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background: $accent-color;
}

.social-list__icons {
  fill: currentColor;
}

.sign-up {
  margin-left: auto;
}

.sign-up__title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: 20px;
}

.sign-up__form {
  display: flex;
}

.sign-up__email {
  padding: 11px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.sign-up__email:hover,
.sign-up__email:focus {
  border-color: $accent-color;
}

.sign-up__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 10px 10px 28px;
  margin-left: 12px;
  font-family: inherit;
  color: $main-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:hover {
  transform: scale(1.02);
}

.send-icon {
  fill: $main-color;
  margin-left: 10px;
}
