.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
  display: flex;
  &__container {
    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @include desktop {
    justify-content: start;
  }
}

.footer__contacts-set {
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__thumb {
  text-align: center;
  @include desktop {
    margin-right: 70px;
    text-align: start;
  }
}
.logo__second-word--footer {
  color: $main-color;
}
.adress__list {
  @extend %list;
}

.adress__link {
  @extend %link;
  line-height: 1.71;
  color: $text-color;
  @extend %transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--change-color {
    color: $main-color;
  }
}
.adress__item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}
