.socials {
  text-align: center;
  @include desktop {
    text-align: start;
  }
}

.socials__title {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  margin-bottom: 20px;
  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-color;
}

.socials__list {
  @include centeredFlex(flex, center, center);
  gap: 10px;
  margin-bottom: 60px;
  @extend %list;
}

.socials__link {
  @include centeredFlex(flex, center, center);
  @extend %link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $main-color;
  background-color: $icon-footer-background;
  @extend %transition;
  &:hover,
  &:focus {
    color: $main-color;
    background-color: $accent-color;
  }
}
.socials__icon {
  fill: $main-color;
}

.sign-up {
  text-align: center;
  @include desktop {
    margin-left: auto;
    text-align: start;
  }

  .sign-up__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
    @include tablet {
      margin-top: 60px;
    }
  }
}

.form {
  @include desktop {
    display: flex;
  }
}
.form__input {
  padding: 15px;
  width: 100%;
  height: 50px;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  @extend %transition;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    font-size: 14px;
    @include desktop {
      font-size: 16px;
    }
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 10px 10px 28px;
  @include desktop {
    margin-left: 12px;
  }

  font-family: inherit;
  color: $main-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: $box-button-shadow;
  transform: scale(1);
  @extend %button;
  @extend %transition;
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.submit-button__icon {
  @extend %icon;
  margin-left: 10px;
}
