.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: $hero-background-gradient, url(../img/img-hero-mob.jpg);
  @include retina {
    background-image: $hero-background-gradient, url(../img/img-hero-mob-2x.jpg);
  }
  background-color: $bg-hero;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    min-width: 768px;
    background-image: $hero-background-gradient, url(../img/img-hero-tab.jpg);
  }
  @include retina {
    background-image: $hero-background-gradient, url(../img/img-hero-tab-2x.jpg);
    background-color: $bg-hero;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include desktop {
    max-width: 1600px;
    height: 600px;
    background-image: $hero-background-gradient, url(../img/img-hero.jpg);
  }
  @include retina {
    background-image: $hero-background-gradient, url(../img/Img-hero-2x.jpg);
    background-color: $bg-hero;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.hero__title {
  max-width: 360px;
  padding-top: 118px 60px 198px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color;
  text-align: center;

  @include mobile {
    font-size: 26px;
  }

  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  @extend %button;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: $main-color;
  background-color: $accent-color;
  box-shadow: $box-button-shadow;

  @include desktop {
    padding: 10px 32px;
  }

  @extend %transition;
  &:hover,
  &:focus {
    box-shadow: $box-button-shadow;
    background-color: #188ce8;
  }
}
