.choice-list {
  @extend %list;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.choice-list__item {
  background: $main-color;
  width: 100%;
  @include tablet {
    width: 354px;
  }
}

.choice-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.choice-list__link {
  display: block;
  @extend %link;
  @extend %transition;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include centeredFlex(flex, center, center);
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: $main-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .choice-list__link:hover &,
  .choice-list__link:focus & {
    transform: translateY(0);
  }
}

.choice-list__box {
  padding: 20px 24px;
  border: 1px solid $one-color;
}

.choice-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.choice-list__text {
  font-size: 16px;
  line-height: 1.88;
  color: $text-color;
}
