.workers {
  background-color: $third-color;
}

.workers__title {
  margin-bottom: 30px;
  color: $title-color;
  text-align: center;

  @include desktop {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.workers-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.workers-list__item {
  width: 100%;
  background: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.workers-list__box {
  padding: 30px 0 24px;

  @include desktop {
    padding-bottom: 30px;
  }
}

.workers-list__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: $title-color;
}

.workers-list__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $text-color;
}

.icons-list {
  @include centeredFlex(flex, center, center);
  @extend %list;
  gap: 10px;
}
.icons-list__link {
  @include centeredFlex(flex, center, center);
  @extend %link;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icons-color;
  @extend %transition;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-color;
  }
}

.icons-list__icons {
  @extend %icon;
}
